.quem {
  .wrapper {
    margin: 0px 0px;
    @include media-middle() {
      margin: 0 18px;
    }
    @include media-large() {
      margin: 0 160px;
    }
  }
  margin-bottom: 65px;
  &__content {
    display: flex;
    justify-content: center;
    width: 100%;
    @include media-middle{
      justify-content: space-between;
    }
  }
  &__item {
    width: 170px;
    flex: 0 0 auto;
    position: relative;
    &:nth-child(2){
      margin: 0 18px;
      @include media-middle(){
        margin: 0;
      }
    }
    &:nth-child(4){
      display: none;
      @include media-middle(){
        display: block;
      }
    }
    &:nth-child(1):after,
    &:nth-child(3):after{
        content: '\A';
        position: absolute;
        width: 100%; 
        height:100%;
        top:0; 
        left:0;
        background: #6d6e71;
        opacity: 0.5;
        @include media-middle(){
          opacity: 0;
        }
      
    }
    &:hover .quem__desc {
      opacity: 1;
    }
    @include media-middle() {
      width: 170/731 * 100%;
    }
    @include media-large() {
      width: 285/1231 * 100%;
    }
  }
  &__desc {
    @include hover-desc();
    text-transform: capitalize;
  }
}
