@mixin media-large() {
    @media (min-width: $break-large) {
        @content;
      }
}

@mixin media-middle() {
    @media (min-width: $break-middle) {
        @content;
      }
}

@mixin hover-desc(){
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0,0,0,0.5);
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}